@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Delete Inventory Items</h1>

<form method="post">
    @foreach (var evt in ViewBag.inventories)
    {
        <div class="form-group">
            <label>
                <input type="checkbox" name="inventoryIds" value="@evt.Id" />
                <td>@evt.Id</td>
                <td>@evt.Product</td>
                <td>@evt.Description</td>
                <td>@evt.Supplier</td>
                <td>@evt.ProductCost</td>
                <td>@evt.ProductSellPrice</td>
                <td>@evt.InventoryQuantity</td>
                <td>@evt.InventoryQuantity</td>
                <td>@evt.TransactionId</td>
                
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Inventory" class="btn btn-danger" />
</form>
