@model List<Moonwalkers.Models.Inventory>

<h1>All Inventory Items</h1>

@if (Model.Count == 0)
{
    <p>No Inventory yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Description</th>
            <th>Supplier</th>
            <th>Product Cost</th>
            <th>Product Sell Price</th>
            <th>Inventory Quantity </th>
            <th>Total Inventory</th>
            <th>Transaction Id</th>
            <th>QrCode</th>
        </tr>

        @foreach (var evt in Model)
        {
            <tr>
                <td>@evt.Id</td>
                <td>@evt.Product</td>
                <td>@evt.Description</td>
                <td>@evt.Supplier</td>
                <td>@Convert.ToDecimal(evt.ProductCost).ToString("N2")</td>
                <td>@Convert.ToDecimal(evt.ProductSellPrice).ToString("N2")</td>
                <td>@evt.InventoryQuantity</td>
                <td>@evt.TotalInventory</td>

                <td>@evt.TransactionId</td> <!-- Access TransactionId property of each Inventory item -->
                <td><img src="@Url.Action("GenerateQRCode", "Inventory", new { id = evt.Id})" /></td>

            </tr>
        }
    </table>
}

<p>
    <a class="text-dark" asp-controller="Inventory" asp-action="Add">Add Inventory Item</a>
</p>

<p>
    <a class="text-dark" asp-controller="Inventory" asp-action="Delete">Delete Inventory Item</a>
</p>
